.featured-game {
    display: flex;
    flex-direction: column;
    border: 1px #5866e7 solid;
    border-radius: 5px;
    padding: 15px;
    transform: scale(0.95);
    height: 300px;
    background-color: #5866e7;
    color: #ebe770;
}

.featured-game .game-pic {
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.featured-game p {
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
}

.featured-game .game-title {
    font-weight: bold;
}