.featured--content{
    padding: 0 15px;
    margin: 20px 10px;
}

.container{
    text-align: center;
    margin-top: 15px;
}

.row > .col{
    flex: 1 0 0%;
    padding-left: 0px;
    padding-right: 0px;
}

.featured--games, img{
    width: 200px;
    height: 300px;
}