.carousel{
    padding: 15px;
    width: 800px;
    height: 500px;
    margin: 0 auto; /*Centers Carousel*/
}

.carousel-inner, .carousel-item {
    width: 100%;
    height: 100%;
}

.carousel-item > img{
    width: 100%;
    height: 100%;
}

/* TODO: Center loading spinner */