#submit {
    display:flex;
    justify-content: flex-start;
}

#title{
    display: flex;
    text-align: center; 
    justify-content: space-around;
}

.error-msg-cont {
    background-color: rgb(255, 124, 124);
    border-radius: 5px;
    padding: 5px;
}

.error-msg {
    margin: 0;
}